
<div class="col-md-8">
	<h3>
	  
	  <%= @blog.title %>
	</h3>

	<p>
	 
	  <%= @blog.body %>
	</p>

	<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary"  if logged_in?(:site_admin)%> 
	<%= link_to 'Back', blogs_path,  class: "btn btn-secondary"  %>
	
</div>	
	