 <div class='nested-fields'>
     <%= link_to_remove_association  f do %>
     	<i class="fa fa-times" style="color: red"></i>
     <%end%>
    <div class="field">

      <%= f.label :name %> <br>
      <%= f.text_field :name %>
    </div>
    
   
  </div>