<header class="masthead mb-auto">
        <div class="nav nav-masthead ">
            <nav class="container nav-masthead d-flex justify-content-between">
              
                <%= nav_helper 'nav-link', 'div'%>
                <%= login_helper 'nav-link' %> 
            
              
 
            </nav>

          

         </div>
</header>