// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "gritter";
/*

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*Custom styles*/

.nav-link{
  color:white;
  font-size: 120%;
  padding: 0;
  font-weight: 500;
}
.nav-link:hover{
  font-weight: 800;
  text-decoration: underline;
  color:white;
}
.card-text a {
  color: black;
}
.card-text a:hover{
  background-color:grey;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.portfolio-form{
  padding: 20px;

}

.container-portfolio-item{
  margin-top: 7%;
}

.active{
  font-weight: 800;
  text-decoration: underline;
  color:white;
}
.nested-fields{
 
  width:205px;
  background-color: skyblue ;
  margin-bottom: 5px;
  margin-left: 7px;
  display:inline-block;
}